/* Login.css */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(78, 113, 173);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.login-form label {
    margin-bottom: 10px;
}

.login-form input {
    margin-top: 5px;
    margin-bottom: 15px;
}

.login-form a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
}